<form
method="POST"
class="form fv-plugins-bootstrap5 fv-plugins-framework"
action="/create-client-type"
id="{{form_id}}"
data-kt-redirect="../../demo13/dist/apps/customers/list.html"
>
{% csrf_token %}
<!--begin::Modal header-->
<div class="modal-header" id="kt_modal_add_customer_header">
  <!--begin::Modal title-->
  <h2 class="fw-bolder">{{header_name}} </h2>
  <!--end::Modal title-->
  <!--begin::Close-->
  <div
    id="kt_modal_add_customer_close"
    class="btn btn-icon btn-sm btn-active-icon-primary"
  >
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
    <span class="svg-icon svg-icon-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <rect
          opacity="0.5"
          x="6"
          y="17.3137"
          width="16"
          height="2"
          rx="1"
          transform="rotate(-45 6 17.3137)"
          fill="black"
        ></rect>
        <rect
          x="7.41422"
          y="6"
          width="16"
          height="2"
          rx="1"
          transform="rotate(45 7.41422 6)"
          fill="black"
        ></rect>
      </svg>
    </span>
    <!--end::Svg Icon-->
  </div>
  <!--end::Close-->
</div>
<!--end::Modal header-->
<!--begin::Modal body-->
<div class="modal-body py-10 px-lg-17">
  <!--begin::Scroll-->
  <div
    class="scroll-y me-n7 pe-7"
    id="kt_modal_add_customer_scroll"
    data-kt-scroll="true"
    data-kt-scroll-activate="{default: false, lg: true}"
    data-kt-scroll-max-height="auto"
    data-kt-scroll-dependencies="#kt_modal_add_customer_header"
    data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
    data-kt-scroll-offset="300px"
    style=""
  >
    <!--begin::Input group-->
    <div class="fv-row mb-7 fv-plugins-icon-container">
      <!--begin::Label-->
      <label class="required fs-6 fw-bold mb-2"
        >Tên tệp khách hàng</label
      >
      <!--end::Label-->
      <!--begin::Input-->
      <input
        type="text"
        class="form-control form-control-solid"
        placeholder=""
        name="name"
        value=""
      />
      <!--end::Input-->
      <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>
    <!--end::Input group-->
    <div class="fv-row mb-15">
      <!--begin::Label-->
      <label class="fs-6 fw-bold form-label mb-2">
        <span class="">Mô tả</span>
        <i
          class="fas fa-exclamation-circle ms-1 fs-7"
          data-bs-toggle="tooltip"
          title=""
          data-bs-original-title="Mô tả thông tin khách hàng"
          aria-label="Information such as description of invoice or product purchased."
        ></i>
      </label>
      <!--end::Label-->
      <!--begin::Input-->
      <textarea
        class="form-control form-control-solid rounded-3"
        name="desc"
      ></textarea>
      <!--end::Input-->
    </div>
  </div>
  <!--end::Scroll-->
</div>
<!--end::Modal body-->
<!--begin::Modal footer-->
<div class="modal-footer flex-center">
  <!--begin::Button-->
  <button
    type="reset"
    id="kt_modal_add_customer_cancel"
    class="btn btn-light me-3"
  >
    Đóng
  </button>
  <!--end::Button-->
  <!--begin::Button-->
  <button
    type="submit"
    id="kt_modal_add_customer_submit"
    class="btn btn-primary"
  >
    <span class="indicator-label">Xác nhận</span>
    <span class="indicator-progress"
      >Please wait...
      <span
        class="spinner-border spinner-border-sm align-middle ms-2"
      ></span
    ></span>
  </button>
  <!--end::Button-->
</div>
<!--end::Modal footer-->
<div></div>
</form>