{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="ng-nh-p-nh-n-s">
        <div class="rectangle-188"></div>
      
        <svg
          class="polygon-1"
          width="599"
          height="577"
          viewBox="0 0 599 577"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M190.383 438.837L189.787 93.7296L518.84 332.935L190.383 438.837Z"
            fill="#29B171"
            fill-opacity="0.5"
          />
        </svg>
      <form>
        <div class="t-n-ng-nh-p">Tên đăng nhập</div>
      
        <div class="m-t-kh-u">Mật khẩu</div>
      
          <input class="rectangle-184" type="text">
      
        <input type="password" class="rectangle-185"></input>
      
          <input type="submit" class="rectangle-186 ng-nh-p" value="Đăng nhập"></input>
      
      </form>
          <img
            class="_1-tv-ky-yeu-tuoi-tre-35-nam-1"
            src="{% static 'images/_1-tv-ky-yeu-tuoi-tre-35-nam-1.png'%}"
          />
      
        <img class="rectangle-263" src="{% static 'images/rectangle-263.png'%}" />
      </div>
      
</body>
<script>
</script>
</html>