{% extends 'master.html' %}
{% block content %}
<div class="">

  
    <div class="widgets">
      <div class="widget-7">
        <div class="group-152">
          <div class="rectangle-258"></div>
  
          <div class="danh-s-ch-b-nh-b-u">Danh sách bình bầu</div>
        </div>
  
        <div class="group-11">
          <div class="rectangle-182"></div>
  
          <div class="group-2">
            <div class="rectangle-181"></div>
  
            <div class="rectangle-1822"></div>
  
            <div class="3"></div>
  
            <div class="4"></div>
          </div>
  
          <div class="group-3">
            <div class="rectangle-1812"></div>
  
            <div class="_1">1</div>
          </div>
  
          <div class="group-112">
            <div class="_2">2</div>
          </div>
  
          <div class="group-12">
            <div class="_3">3</div>
          </div>
  
          <div class="group-13">
            <div class="_4">4</div>
          </div>
  
          <div class="5">...</div>
  
          <div class="hi-n-th-10-trong-600">Hiển thị 10 trong 600</div>
  
          <div class="group-10">
            <div class="rectangle-1813"></div>
  
            <div class="6"></div>
          </div>
  
          <div class="_10">10</div>
        </div>
      </div>
  
      <div class="sep2"></div>
  
      <div class="nhanvien">
        <div class="rectangle-178"></div>
  
        <div class="button">
          <div class="rectangle-180"></div>
  
          <div class="chi-ti-t">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-i-2021">Bình bầu Quý I 2021</div>
  
        <img class="rectangle-179" src="rectangle-179.png" />
  
        <div class="_28-03-2021-31-03-2021">28/03/2021 - 31/03/2021</div>
  
        <div class="status">
          <div class="rectangle-216"></div>
  
          <div class="ang-th-c-hi-n">Đang thực hiện</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1782"></div>
  
        <div class="button">
          <div class="rectangle-1802"></div>
  
          <div class="chi-ti-t2">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-iv-2020">Bình bầu Quý IV 2020</div>
  
        <img class="rectangle-1792" src="rectangle-1792.png" />
  
        <div class="_28-12-2020-30-12-2020">28/12/2020 - 30/12/2020</div>
  
        <div class="status">
          <div class="rectangle-2162"></div>
  
          <div class="ang-kh-i-t-o">Đang khởi tạo</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1783"></div>
  
        <div class="button">
          <div class="rectangle-1803"></div>
  
          <div class="chi-ti-t3">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-iii-2020">Bình bầu Quý III 2020</div>
  
        <img class="rectangle-1793" src="rectangle-1793.png" />
  
        <div class="_28-09-2020-30-09-2020">28/09/2020 - 30/09/2020</div>
  
        <div class="status2">
          <div class="rectangle-2163"></div>
  
          <div class="k-t-th-c">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1784"></div>
  
        <div class="button">
          <div class="rectangle-1804"></div>
  
          <div class="chi-ti-t4">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-iii-2019">Bình bầu Quý III 2019</div>
  
        <img class="rectangle-1794" src="rectangle-1794.png" />
  
        <div class="_28-09-2019-28-09-2019">28/09/2019 - 28/09/2019</div>
  
        <div class="status2">
          <div class="rectangle-2164"></div>
  
          <div class="k-t-th-c2">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1785"></div>
  
        <div class="button">
          <div class="rectangle-1805"></div>
  
          <div class="chi-ti-t5">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-ii-2020">Bình bầu Quý II 2020</div>
  
        <img class="rectangle-1795" src="rectangle-1795.png" />
  
        <div class="_28-06-2020-30-06-2020">28/06/2020 - 30/06/2020</div>
  
        <div class="status2">
          <div class="rectangle-2165"></div>
  
          <div class="k-t-th-c3">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1786"></div>
  
        <div class="button">
          <div class="rectangle-1806"></div>
  
          <div class="chi-ti-t6">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-ii-2019">Bình bầu Quý II 2019</div>
  
        <img class="rectangle-1796" src="rectangle-1796.png" />
  
        <div class="_28-06-2019-31-06-2019">28/06/2019 - 31/06/2019</div>
  
        <div class="status2">
          <div class="rectangle-2166"></div>
  
          <div class="k-t-th-c4">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1787"></div>
  
        <div class="button">
          <div class="rectangle-1807"></div>
  
          <div class="chi-ti-t7">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-i-2020">Bình bầu Quý I 2020</div>
  
        <img class="rectangle-1797" src="rectangle-1797.png" />
  
        <div class="_28-03-2020-31-03-2020">28/03/2020 - 31/03/2020</div>
  
        <div class="status2">
          <div class="rectangle-2167"></div>
  
          <div class="k-t-th-c5">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1788"></div>
  
        <div class="button">
          <div class="rectangle-1808"></div>
  
          <div class="chi-ti-t8">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-i-2019">Bình bầu Quý I 2019</div>
  
        <img class="rectangle-1798" src="rectangle-1798.png" />
  
        <div class="_28-03-2019-31-03-2019">28/03/2019 - 31/03/2019</div>
  
        <div class="status2">
          <div class="rectangle-2168"></div>
  
          <div class="k-t-th-c6">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-1789"></div>
  
        <div class="button">
          <div class="rectangle-1809"></div>
  
          <div class="chi-ti-t9">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-iv-2019">Bình bầu Quý IV 2019</div>
  
        <img class="rectangle-1799" src="rectangle-1799.png" />
  
        <div class="_28-12-2019-31-12-2019">28/12/2019 - 31/12/2019</div>
  
        <div class="status2">
          <div class="rectangle-2169"></div>
  
          <div class="k-t-th-c7">Kết thúc</div>
        </div>
      </div>
  
      <div class="nhanvien">
        <div class="rectangle-17810"></div>
  
        <div class="button">
          <div class="rectangle-18010"></div>
  
          <div class="chi-ti-t10">Chi tiết</div>
        </div>
  
        <div class="b-nh-b-u-qu-iv-2018">Bình bầu Quý IV 2018</div>
  
        <img class="rectangle-17910" src="rectangle-17910.png" />
  
        <div class="_28-12-2018-30-12-2018">28/12/2018 - 30/12/2018</div>
  
        <div class="status2">
          <div class="rectangle-21610"></div>
  
          <div class="k-t-th-c8">Kết thúc</div>
        </div>
      </div>
    </div>
  
    <div class="widget-72">
      <div class="group-152">
        <div class="rectangle-2582"></div>
      </div>
  
      <div class="group-199">
        <div class="rectangle-261"></div>
  
        <div class="kh-i-t-o-b-nh-b-u">KHỞI TẠO BÌNH BẦU</div>
      </div>
    </div>
  </div>
  {% endblock  %}