{% extends 'master.html' %} {% load core_extras %} 

{% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Toolbar-->
  <div class="toolbar" id="kt_toolbar">
      <!--begin::Container-->
      <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
          <!--begin::Page title-->
          
          <!--end::Page title-->
      </div>
      <!--end::Container-->
  </div>
  <!--end::Toolbar-->
  <!--begin::Post-->
  <div class="post d-flex flex-column-fluid" id="kt_post">
      <!--begin::Container-->
      <div id="kt_content_container" class="container-xxl"><div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <!--begin::Title-->
              {% comment %} <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Customer List</h1> {% endcomment %}
              <!--end::Title-->
              <!--begin::Separator-->
              {% comment %} <span class="h-20px border-gray-200 border-start mx-4"></span> {% endcomment %}
              <!--end::Separator-->
              <!--begin::Breadcrumb-->
              {% autoescape off %}
              {{ breadcrumbs_html }}
              {% endautoescape %}
{% comment %} {% include './client_breadcrumb.html' %} {% endcomment %}
              <!--end::Breadcrumb-->
          </div>
          <!--begin::Card-->
          <div class="card">
                          <!--begin::Card header-->
                          <div class="card-header border-0 pt-6">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-6">
                                <!--begin::Add customer-->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">Tạo user</button>
                                <!--end::Add customer-->
                            </div>
                            <div class="col-6">
                                <!--begin::Add customer-->
                                <a type="button" class="btn btn-danger btn-delete-all">Xóa toàn bộ dữ liệu</a>
                                <!--end::Add customer-->
                                </div>
                            </div>
                            </div>
                            <!--begin::Card title-->
                                 <!--begin::Card toolbar-->
                                 <div class="card-toolbar">
                                  <!--begin::Group actions-->
                                  <div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
                                    <div class="fw-bolder me-5">
                                    <span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected</div>
                                    <button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">Delete Selected</button>
                                  </div>
                                  <!--end::Group actions-->
                                </div>
                <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
              <!--begin::Card body-->
              <div class="card-body pt-0">
                  <!--begin::Table-->
                  <div
      id="kt_customers_table_wrapper"
      class="dataTables_wrapper dt-bootstrap4 no-footer"
    >
                <div class="row">
                  <!-- {% autoescape off %}
                  {{ multi_levels }}
                  {% endautoescape %} -->
                  <div class="tree">
                    {% autoescape off %}
                    {{ multi_levels_test }}
                    {% endautoescape %}
                  </div>
                </div>
    </div>
                  <!--end::Table-->
              </div>
              <!--end::Card body-->
          </div>
          <!--end::Card-->
      </div>
      <!--end::Container-->
  </div>
  <!--end::Post-->
</div>

 {% include './multi_level_create.html' %}
 {% include './multi_level_view.html' %}
 <!--end::Modals-->
 {% block script %}
 <script>
   $(document).on("click", ".btn-delete-all", function () {
        if(confirm('Xác nhận xóa toàn bộ?')){
            window.location.href ='/multi-level/data/delete-all'
        }
   })
   $(document).on("click", ".kt_modal_add_customer_cancel2", function () {
    $("#kt_modal_add_customer").modal("hide");
   })
   $(document).on("click", ".kt_modal_add_customer_cancel", function () {
    $("#modal_view_detail").modal("hide");
   })
   $(document).on("click", ".view_detail", function () {
     let id = $(this).data("id");
     let level = $(this).data("level");
     let full_name = $(this).data("full_name");
    //  $("#edit_form").find('input[name="name"]').val(item.name);
    //  $("#edit_form").find('textarea[name="desc"]').val(item.desc);
    //  $("#edit_form").attr("action", "update-client-type/" + item["id"]);
    $.ajax({
      url: "/multi-level/" + id, success: function(result){
        $('#modal_view_detail #full_name').html(full_name)
        $('#modal_view_detail #level').html('F' + level)
        $('#modal_view_detail #direct_user').html(result.direct_user)
        $('#modal_view_detail #indirect_user').html(result.indirect_user)
        $('#modal_view_detail #direct_total').html(result.direct_total + '$')
        $('#modal_view_detail #indirect_total').html(result.indirect_total + '$')
        $('#modal_view_detail #tiered_total').html(result.tiered_total + '$')
        $('#modal_view_detail #total').html(result.total + '$')
      }}
  )
     $("#modal_view_detail").modal("show");
   });
 </script>
 {% endblock script %}
{% endblock content %}
